@model UserViewModel
@{
    ViewData["Title"] = "UserDetails";
}

<h1>UserDetails</h1>

<form method="post" class="uk-form-stacked">
    <div class="uk-margin uk-grid-small uk-form-">
        <label class="uk-form-label">Firstname:</label>
        <div class="uk-form-controls uk-margin">
            <input class="uk-input" type="text" placeholder="Enter firstname" asp-for="@Model.FirstName" disabled />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Lastname:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder="Enter lastname" asp-for="@Model.LastName" disabled />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">E-mail:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="email" placeholder="Enter your Email" asp-for="@Model.Email" disabled />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Nationality</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder="Enter Nationality" asp-for="@Model.Nationality" disabled />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Date of birth</label>
        <div class="uk-form-controls">
            <input class="uk-datepicker" type="date" v-model="BirthDate" asp-for="@Model.BirthDate" disabled />
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-form-controls">
            <label>        @Html.RadioButtonFor(model => model.Role, Model.Role, new { @Class = "uk-radio" })Admin</label>
        </div>
    </div>
</form>

<div class="uk-button-group">
    <a class="uk-button-primary explorer-button-margin" asp-controller="Home" asp-action="EditUser" asp-route-id="@Model.Id">Edit</a>
    <a class="uk-button-danger explorer-button-margin" asp-controller="Home" asp-action="Home">Go back</a>
</div>

@section Scripts{
    <script>
        var app = new Vue({
            el: '#app',
            created: function () {
                var token = sessionStorage.getItem('token');
                var jwt = JSON.parse(atob(token.split('.')[1]));
                if (jwt != null && jwt.role != "Admin") {
                    window.location.href = window.location.origin + '/NotAllowed';
                }
            },
        }
        );

    </script>
}

